div{
    background-color: rgb(209, 209, 207);
    height: 90px;
    padding: 10px;
    margin: 20px;
    font-size: 20px;
}
div::before{
    content: "";
    background-color: crimson;
   position:absolute;
   left: 22px;
   top: 20px;
   height: 110px;
   width: 6px;
   
}
